.wrapp_rate{
  grid-area: d;
  padding: 25px;
  border-radius: 30px;
  h2{
    margin-bottom: 15px;
  }
  p{
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}