.mainAuth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 96vh;
    color:var(--color-text-auth);
    h2{
        font-size: 40px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -2px;
        text-transform: capitalize;
        margin-bottom: 31px;
    }
    .login__form{
        width: 708px;
        @media (max-width: 768px) {
            width: 100%;
        }
        .form__button{
            width: 100%;
            padding-top: 14px;
            padding-bottom: 14px;
            border-radius: 5px;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
        }
        .p{
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            margin-bottom: 32px;
            letter-spacing: -1px;
            text-transform: capitalize;
        }
        .wrapp__icons{
            display: flex;
            flex-direction: row;
            gap: 55px;
            align-items: center;
            justify-content: center;
            margin-bottom: 32px;
            .icon{
                svg{
                    path{
                        fill: var( --fill-icon-uith);
                    }
                }
            }
        }
    }

}