.wrap_input{
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 26px;
  .label{
    font-size: 20px;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: -1px;
  }
  .input{
    height: 56px;
    width: 100%;
    border-radius: 10px;
    padding: 14px 19px;
    border: none;
    outline: none;
  }
  .input::placeholder{
    color: #979797;
    font-family: var(--font-montserrat);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }

  .relative_input{
    position: relative;
    .passwordCheckbox{
      opacity:0;
      left:9999px;
    }
    .input_icon{
      position: absolute;
      top: 12px;
      right: 19px;
    }
    .email{
      width: 100%;

    }
    .validity_icon{
      position: absolute;
      top: 12px;
      right: 19px;
    }
    .email:focus{
      outline: none;
    }
    .email:invalid {
      outline: none;
    }

    .email:invalid + .validity_icon{
      display: none;
    }

    .email:valid{
      background: var(--outline-input-success);
    }

    .email:valid + .validity_icon{
      visibility: visible;
    }

    .email:invalid:placeholder-shown + .validity_icon,
    .email:valid:placeholder-shown + .validity_icon{
      visibility: hidden;
    }
    .email:valid:placeholder-shown,
    .email:invalid:placeholder-shown{
      border: none;
    }

    .email:valid:placeholder-shown{
      background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 8px, transparent 8px) 0% 0%/10px 10px no-repeat,
      radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 8px, transparent 8px) 100% 0%/10px 10px no-repeat,
      radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 8px, transparent 8px) 0% 100%/10px 10px no-repeat,
      radial-gradient(circle at 0 0, #ffffff 0, #ffffff 8px, transparent 8px) 100% 100%/10px 10px no-repeat,
      linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 20px) no-repeat,
      linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 20px) calc(100% - 4px) no-repeat,
      linear-gradient(86deg, #e2e2e2 5%, #0f0f0f 51%, #e2e2e2 100%);


    }

  }

  a{
    color: var(--color-link-auth);
    font-size: 16px;
    font-weight: 300;
    line-height: 100%;
    text-transform: capitalize;
  }
}

