.email__form{
  padding: 25px;
  border-radius: 30px;
  margin-top: 40px;
  @media (max-width: 900px) {
    margin-top: 0;
  }
  .wrapp_label{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -1px;
    margin-bottom: 15px;
    &_second{
      justify-content: space-between;
    }
    .form__button{
      width: 129px;
      padding-top: 14px;
      padding-bottom: 14px;
      border-radius: 5px;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
    }
    p{
    }
    .success{
      color: #208f01;
    }

    .error{
      font-size: 24px;
      color: #de0322;
      font-weight: 700;

    }
    .label{
      font-size: 20px;
      font-weight: 300;

    }
  }

  .wrap_input{
    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    gap: 6px;

    .input{
      border: none;
      border-radius: 10px;
      padding: 14px 19px;
      background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 6px, transparent 6px) 0% 0%/8px 8px no-repeat,
      radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 6px, transparent 6px) 100% 0%/8px 8px no-repeat,
      radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 6px, transparent 6px) 0% 100%/8px 8px no-repeat,
      radial-gradient(circle at 0 0, #ffffff 0, #ffffff 6px, transparent 6px) 100% 100%/8px 8px no-repeat,
      linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 16px) no-repeat,
      linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 4px) no-repeat,
      linear-gradient(transparent 22%, rgba(0, 0, 0, 0.53) 100%),
      linear-gradient(0deg, transparent 33%, rgba(0, 0, 0, 0.45) 100%);
    }
    .input::placeholder{
      color: #979797;
      font-family: var(--font-montserrat);
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
    }
    .form__button{
      width: 100%;
      padding-top: 14px;
      padding-bottom: 14px;
      border-radius: 5px;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
    }
  }

}