.nav{
    padding: 36px 0;
    @media (max-width: 1060px) {
        padding: 20px 55px 20px 0;
    }
    @media (max-width: 490px) {
        padding: 20px 55px 15px 0;
    }
}
.wrapp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo{
    @media (max-width: 590px) {
        max-width: 120px;
    }
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    @media (max-width: 610px) {
        gap: 10px;
    }

}
.navButton{
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    padding: 13px 29px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    @media (max-width: 768px) {
        font-size: 12px;
        padding: 7px 16px;
    }
}
.authButton{
    margin-left: 18px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 4px 4px 4px 12px;
    @media (max-width: 768px) {
        margin-left: 0px;
        gap: 5px;
        padding: 4px 12px 4px 12px;
    }

}
.authButton svg{
    width: 39px;
    height: 39px;
    @media (max-width: 768px) {
        width: 22px;
        height: 22px;
    }
}