.nav{
    color: var(--color-text-main) ;
    padding: 36px 0;
    @media (max-width: 1060px) {
        padding: 15px 58px 15px 0;
    }

}
.wrapp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 47px;
    @media (max-width: 590px) {
        max-width: 120px;
    }
}
.imgBlack{
    display: var(--display-block-white);
}
.imgWhite{
    display: var(--display-block-black);
}
.buttons{
    display: flex;
    flex-direction: row;
    @media (max-width: 768px) {
        gap: 10px;
    }
}
.navButton{
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    padding: 13px 29px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    @media (max-width: 768px) {
        font-size: 12px;
        padding: 7px 14px;
    }
}
.authButton{

    margin-left: 18px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 4px 4px 4px 12px;
    @media (max-width: 768px) {
        margin-left: 0px;
        gap: 5px;
    }
    svg{
        width: 39px;
        height: 39px;
        @media (max-width: 768px) {
            width: 22px;
            height: 22px;
        }
        path{
            fill: var(--backround-color);
        }
    }

}
