.wrappCard{
    padding: 69px 27px 33px 42px;

    border-radius: 30px;
    @media (max-width: 1180px) {
        padding: 25px 40px ;
    }
}

.wrapp__title{
    @media (max-width: 1180px) {
        display: flex;
        flex-direction: row;
        gap: 30px;

    }
}
.title__flex{
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.rateName{
    font-size: 34px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
    @media (max-width: 1180px) {
        font-size: 25px;
        margin-bottom: 15px;

    }
}
.rateDescription{
    color: #939394;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 32px;
    @media (max-width: 1180px) {
        margin-bottom: 0px;
    }

}
.ratePrice{
    display: block;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 31px;
    @media (max-width: 1180px) {
        margin-bottom: 0px;
        display: none;
    }
}
.ratePriceMob{
   display: none;
    @media (max-width: 1180px) {
        display: block;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
    }
}
.listHead{
    font-size: 16px;
    font-weight: 600;

}
.rateList{
    width: 100%;
    margin-bottom: 69px;

}
.rateListItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid var(--color-text-main);
    width: 100%;
}
.rateListItem::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--color-text-main);
    border-radius: 20px;
    margin-right: 15px;
}
.rateButton{
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    padding: 16px 105px;

}
.accordionTitle{

}
.accordionContent{
    @media (max-width: 1180px) {
        opacity: 0;
        transition:
                all 400ms,
                opacity 200ms;
        height: 0;
        margin: 0;
        margin-top: -10px;
        width: 100%;
    }

}
.open{
    @media (max-width: 1180px) {
        padding-top: 20px;
        height: auto;
        opacity: 1;
    }
}
.svg {
    transition: all 400ms;
}

.rotate {
    transition: all 400ms;
}

@media (max-width: 1180px) {
    .rotate {
        transform: rotate(180deg);
    }
}
