
.wrapp__switch{
    display: flex;
    align-items: center;
    justify-content: end;
    @media (max-width: 1060px) {
        padding: 12px 24px;

    }
}
.wrapp p{
    font-size: 21px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.357px;
    color: #939394;
    @media (max-width: 768px) {
        font-size: 20px;
    }
    @media (max-width: 490px) {
        font-size: 16px;
    }
}
.switchCheckbox {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switchLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 75px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background: #FF7F79;
    border-radius: 30px;
    position: relative;
    transition: background-color .2s;
    svg{
        z-index: 3;

    }


}

.switchLabel .switchButton {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 39px;
    height: 40px;
    border-radius: 100px;
    transition: 0.2s;
    background: radial-gradient(488.6% 93.4% at 49.8% 52.02%, #FE5E54 0%, #A93736 100%);

}

.switchCheckbox:checked + .switchLabel .switchButton {
    left: calc(100% );
    transform: translateX(-100%);
}

.switchLabel:active .switchButton {
    width: 40px;
}