:root {
    --font-montserrat: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    font-family: var(--font-montserrat);
    background-color: var(--backround-color);
}

.container {
    max-width: 1180px;
    margin: auto;
    @media (max-width: 1200px) {
        padding: 0 15px;
    }
}

.heading {
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1em;
    margin-bottom: 38px;
    @media (max-width: 900px) {
        font-size: 35px;
        line-height: 1em;
        margin-bottom: 30px;
    }
    @media (max-width: 490px) {
        font-size: 25px;
        line-height: 1.4em;
        margin-bottom: 25px;
    }
}

.heading.ls-1 {
    letter-spacing: -1.584px;
}

label {
    color: var(--color-text-auth);
}


.button {
    background: rgb(156,41,39);
    background: linear-gradient(127deg, rgba(156,41,39,1) 0%, rgba(254,94,84,1) 50%, rgba(156,41,39,1) 100%);
    color: #fff;
    border: none;
    z-index: 10;
    transition: backround 0.4s;
}

.button:hover {
    background:linear-gradient(127deg, rgb(131, 27, 25) 0%, rgba(254,94,84,1) 50%, rgb(108, 20, 18) 100%);
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;

    background: radial-gradient(959.33% 137.46% at 49.84% 50%, #bb6a66 0%, #e87c83 100%);
}

.mainwrapper {
    font-family: var(--font-montserrat);
    --color-text-main: #000;
    --color-text-auth: #292929;
    --color-link-auth: #979797;
    --fill-icon-uith: #000;
    --backround-color: #fff;
    --backround-color-menu: #FFF;
    --display-block-white: block;
    --display-block-black: none;

    --outline-input-success: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 8px, transparent 8px) 0% 0%/10px 10px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 8px, transparent 8px) 100% 0%/10px 10px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 8px, transparent 8px) 0% 100%/10px 10px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 8px, transparent 8px) 100% 100%/10px 10px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 20px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 20px) calc(100% - 4px) no-repeat,
    linear-gradient(86deg, #f6fef6 5%, #14ff00 51%, #f6fef6 100%);
    border-radius: 10px;
    padding: 6px;
    box-sizing: border-box;

    --articles-numder: linear-gradient(180deg, #000 54.69%, rgba(248, 254, 252, 0.00) 100%);

    --contatc-icon-fill: #312F2F;
}

.mainwrapper .border-red {
    position: relative;
    overflow: hidden;
}
.mainwrapper .border-red::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 3px;
    background: linear-gradient(127deg, rgba(255,255,255,0) 0%, rgba(254,94,84,1) 50%, rgba(255,255,255,0) 100%);;
    mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}
.mainwrapper .border-black-input {
    border: none;
    outline: none;
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 8px, transparent 8px) 0% 0%/10px 10px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 8px, transparent 8px) 100% 0%/10px 10px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 8px, transparent 8px) 0% 100%/10px 10px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 8px, transparent 8px) 100% 100%/10px 10px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 20px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 20px) calc(100% - 4px) no-repeat,
    linear-gradient(86deg, #e2e2e2 5%, #0f0f0f 51%, #e2e2e2 100%);

}

.mainwrapper .border-black {
    position: relative;
    overflow: hidden;
}
.mainwrapper .border-black::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 3px;
    background: linear-gradient(127deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 100%);
    mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}


.mainwrapper.dark {
    --color-text-main: #fff;
    --color-text-auth: #fff;
    --color-link-auth: #fff;
    --fill-icon-uith: #fff;
    --backround-color: #000;
    --backround-color-menu: #0F0F0F;

    background-color: #000;

    --articles-card-color: #fff;
    --articles-numder: linear-gradient(180deg, #FFF 54.69%, rgba(248, 254, 252, 0.00) 100%);


    --display-block-white: none;
    --display-block-black: block;

    --contatc-icon-fill: #fff;
    /*--outline-input-success: linear-gradient(127deg, rgba(255,255,255,1) 0%, rgba(20,255,0,1) 50%, rgba(255,255,255,1) 100%);*/
    /*--outline-input-success: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 8px, transparent 8px) 0% 0%/10px 10px no-repeat, radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 8px, transparent 8px) 100% 0%/10px 10px no-repeat, radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 8px, transparent 8px) 0% 100%/10px 10px no-repeat, radial-gradient(circle at 0 0, #ffffff 0, #ffffff 8px, transparent 8px) 100% 100%/10px 10px no-repeat, linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 20px) no-repeat, linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 20px) calc(100% - 4px) no-repeat, radial-gradient(at 100% 100%, #FFF 10%, transparent 98%), radial-gradient(at 100% 0%, #14FF00 0%, transparent 70%), radial-gradient(at 0% 0%, #fff 20%, transparent 100%), #14ff00;*/
    --outline-input-success: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 8px, transparent 8px) 0% 0%/10px 10px no-repeat, radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 8px, transparent 8px) 100% 0%/10px 10px no-repeat, radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 8px, transparent 8px) 0% 100%/10px 10px no-repeat, radial-gradient(circle at 0 0, #ffffff 0, #ffffff 8px, transparent 8px) 100% 100%/10px 10px no-repeat, linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 20px) no-repeat, linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 20px) calc(100% - 4px) no-repeat, radial-gradient(at 100% 100%, #FFF 10%, transparent 98%), radial-gradient(at 100% 0%, #14FF00 0%, transparent 70%), radial-gradient(at 0% 0%, #fff 20%, transparent 100%), #14ff00;

}


.mainwrapper.dark .border-black-input {
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 8px, transparent 8px) 0% 0%/10px 10px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 8px, transparent 8px) 100% 0%/10px 10px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 8px, transparent 8px) 0% 100%/10px 10px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 8px, transparent 8px) 100% 100%/10px 10px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 20px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 20px) calc(100% - 4px) no-repeat,
    conic-gradient(#ff0000 0%, #ffffff 22%, #ff0000 30%, #ff0000 64%, #ffffff 76%, #F00 100%);

}
.mainwrapper.dark .border-black::before{
    background: linear-gradient(127deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 100%);

}